/*==========================
     CSS Reset
===========================*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*==========================
    Formatação geral
============================*/
html{
    background-color: #FEEDFE;
}
a{
    text-decoration: none;
    color: black;
}

/*==========================
    Formatação do topo
============================*/

header{
    background-color: #E068B8;
}
header ul{
    display: flex;
    justify-content: right;
	margin: 0 5vw 0 0;
}
header ul li{
    margin: 1.7vw 1vw;
    font-size: 1.2rem;
}
header ul li span{
    background-color: blueviolet;
    padding: 0.5vw 1.5vw 0.5vw 1.5vw;
    border-radius: 30px;
    border: 1px black solid;
    box-shadow: 2px 1px 9px black;
}
header ul li:hover{
    font-size: 1.3rem;
    text-decoration: underline white;
}
header ul li a{
    color: #FEEDFE;
}

/*=====================
principal
====================*/

section.principal {
	background-color: #E068B8;
	padding: 0 0 2vw 0;
}
section .maior{
	display: flex;
	justify-content: center;
}
section.principal .maior h1{
	font-size: 9rem;
	margin-top: 5vw;
	margin-right: 2vw;
	margin-left: 10vw;
	font-family:'Times New Roman', Times, serif;
	font-weight: bold;
	color: aliceblue;
}
section.principal .maior h1 span{
	font-size: 5.5rem;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: normal;
}
section.principal .maior h1 span.um{
	color: red;
}
section.principal .maior h1 span.dois{
	color: orange;
}
section.principal .maior h1 span.tres{
	color: yellow;
}
section.principal .maior h1 span.quatro{
	color: green;
}
section.principal .maior h1 span.cinco{
	color: #009DFF;
}
section.principal .maior h1 span.seis{
	color: blue;
}
section.principal .maior h1 span.sete{
	color: #BF00FF;
}
section.principal .maior img{
	height: 30vw;
	width: 40vw;
	margin-left: 2vw;
}

/*========================
acao
=======================*/
section.acao{
	padding: 0 0 3vw 0;
}
section.acao h2{
	margin: 5vw 0 0 0;
	text-align: center;
	font-size: 4rem;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: #414141;
}
section.acao p{
	font-size: 2.2rem;
	margin: 4vw 2vw 2vw 17vw;
	text-align: center;
	background-color: #E068B8;
	padding: 1vw 1vw 1vw 1vw;
	border-radius: 30px;
	color: #FEEDFE;
}
section.acao img{
	height: 45vw;
	width: 55vw;
	margin-top: 4vw;
	margin-left: 2vw;
}
section.acao h3{
	margin-top: 2vw;
	margin-left: 14.5vw;
	font-size: 2.357vw;
	margin-bottom: 1.5vw;
	font-weight: bold;
}
section.acao li{
	margin-top: 0.5vw;
	margin-left: 17vw;
	margin-right: 2vw;
	font-size: 2.2rem;
	background-color: #E068B8;
	padding: 1vw 0.5vw 1vw 0.5vw;
	border-radius: 30px;
	color: #FEEDFE;
	text-align: center;
}
section.acao li a{
	color: #FEEDFE;
}
section.acao ul li:hover{
    font-size: 2.3rem;
    text-decoration: underline white;
}

/*==========================
    Formatação do rodapé
============================*/

footer{
    background-color: #E068B8;
    padding: 2vw 0 0 0;
}
footer div.primeira{
    display: flex;
    justify-content: space-between;
}
footer div h2{
    font-size: 2rem;
    margin: 0 0 0 15vw;
    color: white;
}
footer div button{
    margin: 1.5vw 15vw 0 0;
    background-color: blueviolet;
    padding: 0.5vw 1.5vw 0.5vw 1.5vw;
    border-radius: 30px;
    border: 1px black solid;
    box-shadow: 2px 1px 9px black;
    color: white;
    font-size: 1.2rem;
}
footer a{
    color: white;
}
hr {
    margin: 2vw 15vw 0 15vw;
}
footer div.segunda{
    text-align: center;
    color: white;
}
footer div.segunda p{
    font-size: 1.5rem;
    margin: 2vw 0 0.5vw 0;
}
footer div.segunda div.centro span{
    font-size: 1.2vw;
    margin: 0 1vw 2vw 0;
}
